form {
  margin-top: 4.2rem;
}

fieldset {
  display: grid;
  gap: 1.6rem;
  border: none;
  margin-top: 4.8rem;

  .title-wrapper {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 2.4rem;

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }

    svg path {
      stroke: var(--input-placeholder);
    }

    legend {
      color: var(--text-heading);
      font: var(--heading-sm);
    }
  }
}

input,
textarea {
  appearance: none;
  width: 100%;
  border-radius: 0.8rem;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);

  padding: 1.3rem 1.6rem;
  font: var(--body-md);
  color: var(--input-placeholder);

  &:invalid {
    border: 0.125rem solid var(--danger);
  }

  &[required] + .mandatory {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
    margin-top: 0.8rem;
    small {
      color: var(--danger);
      font: var(--body-xs);
    }
  }

  &:valid + .mandatory {
    display: none;
  }
}

label {
  font: var(--body-sm);
  color: var(--text-body);
  display: inline-block;
  margin-bottom: 1.2rem;
}

.time-wrapper,
.type-wrapper,
.flex-wrapper {
  display: flex;
  gap: 1.6rem;
}

.contact {
  margin-bottom: 4.8rem;
  gap: 1.4rem;
}
