.radio-wrapper {
  display: flex;
  flex-direction: column;
}

.radio-options {
  display: flex;
  border: 1px solid var(--input-stroke);
  border-radius: 0.8rem;
  background-color: var(--input-base);
  padding: 0.4rem;
  gap: 0.4rem;
}

.radio-inner {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.4rem;

  gap: 0.8rem;

  padding: 1.2rem 1.8rem;

  position: relative;

  & input,
  & input:focus,
  & input:hover {
    all: unset;

    position: absolute;
    inset: 0;
  }

  svg {
    width: 1.6rem;
    height: 1.6rem;
  }

  svg path {
    stroke: var(--input-placeholder);
  }

  spam {
    font: var(--body-sm);
    color: var(--input-placeholder);
  }

  &:hover,
  &:focus-within,
  &:has(:checked) {
    background-color: var(--shape-hover);
    spam {
      color: var(--text-heading);
    }

    svg path {
      stroke: var(--brand-light);
    }
  }
}

.custom-radio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 0.8rem;

  margin-bottom: 2.8rem;
}

.radio-card {
  display: flex;
  flex-direction: column;
  background-color: var(--shape-button);
  border-radius: 0.8rem;
  justify-content: center;
  gap: 0.8rem;
  padding: 0.4rem;
  border: 1px solid var(--input-stroke);

  &:hover {
    border: 1px solid var(--brand-light);
  }

  img {
    border-radius: 0.4rem;
    height: 6.4rem;
    object-fit: cover;
  }

  span {
    font: var(--body-sm);
    color: var(--text-heading);
    margin-bottom: 0.8rem;
    text-align: center;
  }
}

.color-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  gap: 1.2rem;
  margin-bottom: 2.8rem;

  .color-image {
    flex: 1;
    height: 2.4rem;
    border-radius: 50%;
  }
}

.color-inner {
  display: flex;
  width: 4rem;
  height: 4rem;
  padding: 0.6rem;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;

  background-color: var(--shape-button);
  border-radius: 50%;

  position: relative;

  input,
  input:focus,
  input:hover {
    all: unset;
    position: absolute;
  }
}

.color-inner:hover,
.color-inner:focus-within {
  border: 2px solid var(--brand-light);
}

.color-inner:has(:checked) {
  .color-inner {
    border: 2px solid var(--brand-light);
  }
}
